<!DOCTYPE html>

<head>
    <title>User Sign Up!</title>
</head>

<body>
    <h1>Sign Up for an Account here!</h1>
    <form method="POST">
        {% csrf_token %}
    <table border = "1">
        <tr>
            <td>User Name</td>
            <td><input type="text" placeholder="Enter the Username" name="username" required></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" placeholder="Enter your First Name" name="first_name" required></td>
        </tr>
        <tr>
            <td>Last Name:</td>
            <td><input type="text" placeholder="Enter your Last Name" name="last_name" required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" placeholder="Enter your password"  required 
                onchange="form.repassword.pattern=this.value" name="password"></td>
        </tr>
        <tr>
            <td>Re-Enter Password</td>
            <td><input type="password" placeholder="Re-Enter your password" name="repassword" pattern="" required></td>
        </tr>
    </table>
    <hr/>
    <p>Already have an account? Log In <a href="/login">here</a></p>
    <input type="submit" value="Submit">
    {% if messages %}
    {% for result in messages %}
    <b style="color: green">{{result}}</b>
    {% endfor %}
    {% endif %}
    </form>
</body>